/node_modules
**/node_modules
/.env
.env
.env.local
infra/besu/node*/data
infra/besu/node*/keys/*.tmp
apps/faucet/dist
apps/swap-ui/.next
apps/swap-ui/dist
apps/faucet/.env
apps/swap-ui/.env.local
apps/faucet/.env
deploy/cache
deploy/artifacts
package-lock.json
yarn.lock
pnpm-lock.yaml
