RPC_URL=https://rpc.eltx.online
FAUCET_PRIVATE_KEY=0x
DRIP_AMOUNT=0.5
COOLDOWN_HOURS=24
PORT=8080
TREASURY_ADDRESS=0x695658fC245ABbaDD7a276fF73Ed44f7374275D1
CAPTCHA_SECRET=
ALLOWED_ORIGIN=https://eltx.online
